DB_CONNECTION_URL="mongodb+srv://CR8RCluster:CR8RISHERE@cr8rcluster.xik7dcw.mongodb.net"
MORALIS_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjIwNDA5Y2VlLWU5MTYtNDUyOS04ZjZiLTRmYjcxNzcwNzdjZSIsIm9yZ0lkIjoiMTc1MjA2IiwidXNlcklkIjoiMTc0ODc4IiwidHlwZUlkIjoiNjZkMjZjYmMtNTgzOC00NWU1LThmOTMtYzEwNzBmMGMyYjEyIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MDI5MDI1NDEsImV4cCI6NDg1ODY2MjU0MX0.7fpd9W9iOglvYghHX-bk8AzgGlJBofZ4qtgyUAPPdgk"
NFT_CONTRACT_ADDRESS="0xCE46A2d831744AfAD9E449Fc56789C0C092D8173"
PORT="3000"